<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tide.dao.FocusUserProjectMapper" >
  <resultMap id="BaseResultMap" type="com.tide.bean.FocusUserProject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="projectid" property="projectid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zc_focus_user_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByProjectId" parameterType="java.lang.Integer" >
    delete from zc_focus_user_project
    where projectid = #{projectid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tide.bean.FocusUserProject" >
    insert into zc_focus_user_project (id, userid, projectid
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tide.bean.FocusUserProject" >
    update zc_focus_user_project
    set userid = #{userid,jdbcType=INTEGER},
      projectid = #{projectid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userid, projectid
    from zc_focus_user_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userid, projectid
    from zc_focus_user_project
  </select>

  <select id="getFocusProject" resultMap="BaseResultMap" >
    select id, userid, projectid
    from zc_focus_user_project
    where userid = #{uid}
  </select>

  <select id="getFocusProjectByUP" resultMap="BaseResultMap">
    select id, userid, projectid
    from zc_focus_user_project
    where userid = #{0} and projectid = #{1}
  </select>

  <delete id="deleteFocusProjectByUP">
    delete from zc_focus_user_project
    where userid = #{0} and projectid = #{1,jdbcType=INTEGER}
  </delete>

</mapper>