<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tide.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.tide.bean.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tradeno" property="tradeno" jdbcType="VARCHAR" />
    <result column="paytype" property="paytype" jdbcType="VARCHAR" />
    <result column="transactionid" property="transactionid" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="counties" property="counties" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="express" property="express" jdbcType="VARCHAR" />
    <result column="trackno" property="trackno" jdbcType="VARCHAR" />
    <result column="orderdate" property="orderdate" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zc_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tide.bean.Order" >
    insert into zc_order (id, tradeno, paytype, 
      transactionid, price, userid, 
      username, phone, province, 
      city, counties, address, 
      express, trackno, orderdate, 
      status)
    values (#{id,jdbcType=INTEGER}, #{tradeno,jdbcType=VARCHAR}, #{paytype,jdbcType=VARCHAR}, 
      #{transactionid,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{userid,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{counties,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{express,jdbcType=VARCHAR}, #{trackno,jdbcType=VARCHAR}, #{orderdate,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tide.bean.Order" >
    update zc_order
    set tradeno = #{tradeno,jdbcType=VARCHAR},
      paytype = #{paytype,jdbcType=VARCHAR},
      transactionid = #{transactionid,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      userid = #{userid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      counties = #{counties,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      express = #{express,jdbcType=VARCHAR},
      trackno = #{trackno,jdbcType=VARCHAR},
      orderdate = #{orderdate,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, tradeno, paytype, transactionid, price, userid, username, phone, province, 
    city, counties, address, express, trackno, orderdate, status
    from zc_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, tradeno, paytype, transactionid, price, userid, username, phone, province, 
    city, counties, address, express, trackno, orderdate, status
    from zc_order
    ORDER BY id DESC
  </select>

  <select id="getCount" resultType="java.lang.Integer">
    select count(*)
    from zc_order
  </select>

  <select id="getOrderByStatus" resultMap="BaseResultMap">
    select id, tradeno, paytype, transactionid, price, userid, username, phone, province,
    city, counties, address, express, trackno, orderdate, status
    from zc_order
    where status = #{status}
  </select>

  <select id="getOrderByTradeNo" resultMap="BaseResultMap">
    select id, tradeno, paytype, transactionid, price, userid, username, phone, province,
    city, counties, address, express, trackno, orderdate, status
    from zc_order
    where tradeno = #{tradeno}
  </select>

  <delete id="deleteOrderByTradeno">
    delete from zc_order
    where tradeno = #{tradeno}
  </delete>

</mapper>