<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tide.dao.PageMapper" >
  <resultMap id="BaseResultMap" type="com.tide.bean.Page" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="posterurl" property="posterurl" jdbcType="VARCHAR" />
    <result column="linkurl" property="linkurl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zc_page
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tide.bean.Page" >
    insert into zc_page (id, name, posterurl, 
      linkurl, status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{posterurl,jdbcType=VARCHAR}, 
      #{linkurl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tide.bean.Page" >
    update zc_page
    set name = #{name,jdbcType=VARCHAR},
      posterurl = #{posterurl,jdbcType=VARCHAR},
      linkurl = #{linkurl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, posterurl, linkurl, status
    from zc_page
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, posterurl, linkurl, status
    from zc_page
  </select>
  <select id="selectAllDisplay" resultMap="BaseResultMap" >
    select id, name, posterurl, linkurl, status
    from zc_page
    where status = '1'
  </select>

  <select id="getCount" resultType="java.lang.Integer">
    select count(*)
    from zc_page
  </select>
</mapper>