<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tide.dao.ProjectColorMapper" >
  <resultMap id="BaseResultMap" type="com.tide.bean.ProjectColor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="projectid" property="projectid" jdbcType="INTEGER" />
    <result column="proid" property="proid" jdbcType="INTEGER" />
    <result column="color" property="color" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zc_project_color
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tide.bean.ProjectColor" >
    insert into zc_project_color (id, projectid, proid, 
      color)
    values (#{id,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, #{proid,jdbcType=INTEGER}, 
      #{color,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tide.bean.ProjectColor" >
    update zc_project_color
    set projectid = #{projectid,jdbcType=INTEGER},
      proid = #{proid,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, projectid, proid, color
    from zc_project_color
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, projectid, proid, color
    from zc_project_color
  </select>


  <select id="getProjectIdsByProid" resultType="java.lang.Integer">
    select projectid
    from zc_project_color
    where proid = #{proid,jdbcType=INTEGER}
    ORDER BY projectid DESC
  </select>
  <select id="getProIdByProjectId" resultType="java.lang.Integer">
    select proid
    from zc_project_color
    where projectid = #{projectid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByProjectId" parameterType="java.lang.Integer">
    delete from zc_project_color
    where projectid = #{projectid,jdbcType=INTEGER}
  </delete>

</mapper>