<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tide.dao.ThemeLabelMapper" >
  <resultMap id="BaseResultMap" type="com.tide.bean.ThemeLabel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="themeid" property="themeid" jdbcType="INTEGER" />
    <result column="labelid" property="labelid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zc_theme_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tide.bean.ThemeLabel" >
    insert into zc_theme_label (id, themeid, labelid
      )
    values (#{id,jdbcType=INTEGER}, #{themeid,jdbcType=INTEGER}, #{labelid,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tide.bean.ThemeLabel" >
    update zc_theme_label
    set themeid = #{themeid,jdbcType=INTEGER},
      labelid = #{labelid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, themeid, labelid
    from zc_theme_label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, themeid, labelid
    from zc_theme_label
  </select>
  <select id="getByThemeId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, themeid, labelid
    from zc_theme_label
    where themeid = #{themeid}
  </select>
  <select id="getByThemeLabelId" resultMap="BaseResultMap">
     select id, themeid, labelid
    from zc_theme_label
    where themeid = #{0} and labelid = #{1}
  </select>
</mapper>